@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'FKGrotesk';
  src: url('/fonts/FKGrotesk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  @apply h-screen overflow-hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #E4E4E4;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@layer base {
  .desktop-bg {
    display: none; /* Hidden by default */
  }
  .mobile-bg {
    display: block; /* Visible on small screens and down */
  }

  @screen md {
    .desktop-bg {
      display: block; /* Visible on medium screens and up */
    }
    .mobile-bg {
      display: none; /* Hidden on medium screens and up */
    }
  }
}
